In [8]:
import duckdb


import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

from duckdb.duckdb import DuckDBPyConnection
from pandas import DataFrame

bronze_conn = duckdb.connect('bronze_db')
prata_conn = duckdb.connect('prata_db')
ouro_conn = duckdb.connect('ouro_db')
modelling_conn = duckdb.connect('modelling_db')
final_conn = duckdb.connect('final_db')

def sql(
    query:str,
    conn:DuckDBPyConnection
) -> DataFrame:
    """
    Executa uma consulta SQL em uma conexão de banco duckDb e retorna o resultado em um dataframe Pandas.

    Parâmetros
    ----------

    query (str)
        Query SQL a ser realizada no banco
    
    conn (DuckDBPyConnection)
        Conexão com banco DB em que a consulta será realizada
    
    Returns
    ----------

    DataFrame: Dataframe do Pandas com o resultado da consulta SQL realizada

    """
    
    df = conn.execute(query).fetch_df()
    return df

In [10]:
sql("SHOW TABLES",final_conn)

                       name
0                  abt_base
1   tb_validacao_modelo_1_1
2   tb_validacao_modelo_1_2
3   tb_validacao_modelo_1_3
4   tb_validacao_modelo_1_4
5   tb_validacao_modelo_2_1
6   tb_validacao_modelo_2_2
7   tb_validacao_modelo_2_3
8   tb_validacao_modelo_2_4
9   tb_validacao_modelo_3_1
10  tb_validacao_modelo_3_2
11  tb_validacao_modelo_3_3
12  tb_validacao_modelo_3_4
13  tb_validacao_modelo_3_5
14  tb_validacao_modelo_4_1
15  tb_validacao_modelo_4_2
16  tb_validacao_modelo_4_3
17  tb_validacao_modelo_4_4
18  tb_validacao_modelo_4_5
19  tb_validacao_modelo_5_1
20  tb_validacao_modelo_5_2
21  tb_validacao_modelo_5_3
22  tb_validacao_modelo_5_4
23  tb_validacao_modelo_5_5
24  tb_validacao_modelo_6_1
25  tb_validacao_modelo_6_2
26  tb_validacao_modelo_6_3
27  tb_validacao_modelo_6_4
28  tb_validacao_modelo_6_5
29  tb_validacao_modelo_7_1
30  tb_validacao_modelo_7_2
31  tb_validacao_modelo_7_3
32  tb_validacao_modelo_7_4
33  tb_validacao_modelo_7_5
34  tb_validacao_modelo_8_2
35  tb_validacao_modelo_8_4

# 1) Análises Iniciais

In [17]:
df = sql("""
SELECT
    *
FROM abt_base 
""",
final_conn)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [22]:
df[['latitude','longitude','vl_declividade','vl_altitude','vl_distancia_oceano','vl_aspecto_relevo']].drop_duplicates()

,latitude,longitude,vl_declividade,vl_altitude,vl_distancia_oceano,vl_aspecto_relevo
0,-23.5000,-47.4500,2.27,565.0,100.01,119.93
2529,-23.3500,-45.5700,7.46,773.0,34.45,158.54
5058,-22.9300,-49.7700,2.34,469.0,287.42,28.20
7464,-22.9200,-45.4500,1.94,548.0,68.03,123.69
9993,-23.6700,-47.2200,0.66,908.0,71.33,108.43
...,...,...,...,...,...,...
18109134,-23.0772,-52.9592,2.25,381.0,499.93,190.71
18117564,-23.6169,-52.1964,1.57,333.0,402.53,345.70
18125932,-23.1831,-52.1831,1.56,522.0,426.29,63.92
18134362,-23.4167,-52.3000,3.33,415.0,422.50,215.54
18142670,-24.0000,-47.9500,0.26,687.0,87.52,324.46